*.dll

__pycache__/

.vscode/

conda-meta/

DLLs/

include/

Lib/

Library/

libs/

Scripts/

share/

Tools/

*.txt

*.exe

*.pyd

py.ico

pyc.ico

*.pdb

tsc-erp-firebase-adminsdk-apb5k-f725d83303.json