*.dll

__pycache__/

.vscode/

conda-meta/

DLLs/

include/

Lib/

Library/

libs/

Scripts/

share/

Tools/

*.txt

*.exe

*.pyd

py.ico

pyc.ico

*.pdb

tcl/

*.spec

*.bz2

*.ico

tsc-erp-firebase-adminsdk-apb5k-f725d83303.json

tsc-erp-firebase-adminsdk-apb5k-08b86ff219.json
